@import "../../../mixin";

.blog-post-card-low-secreen {
  cursor: pointer;
}

.Blog-post-card {
  cursor: pointer;

  @media screen and (min-width: 539px) and (max-width: 768px) {
    width: calc(100% / 2 - 16px);
  }
  @media screen and (min-width: 769px) {
    width: calc(100% / 3 - 25px);
  }
  @media screen and (max-width: 540px) {
    width: calc(95% / 1 - 0px);
  }
}
.img {
  width: 100%;
  height: 200px;
}

.author {
  color: #6941c6;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.heading-and-icon {
  display: flex;
  align-items: center;
  .heading {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } 
  .icon {
    width: 24px;
    height: 24px;
  }
}

.description {
  color: #667085;
  overflow: hidden;
  text-overflow: ellipsis;  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Link:hover {
  text-decoration: none;
}
