@import "../../mixin";
.image {
  width: 100%;
  height: 500px;
}

.heading-SingleBlog {
  @include heading(Inter, 36px, 700, 32px, normal);  
}
.description-SingleBlog {
  @include heading(Inter, 16px, 400, 24px, normal);
}
.SingleBlog-Main {
  @media screen and (max-width: 570px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
  @media screen and (min-width: 994px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .aa {
    @media screen and (max-width: 380px) {
      display: flex;

      justify-content: center;
    }
  }
}
.Single-Blog {
  display: flex;
  flex-direction: row;
 
  padding: 0px 32px;
  align-items: flex-start;
  gap: 32px;
  @media screen and (max-width: 736px) { 
    display: flex; 
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 737px) {
    display: flex;
    flex-direction: row;
  }

  .single-Blog-Main {
    padding: 30px 0px;
  }
}
.max-width {
  max-width: 400px;
}
