.Navbar-Header {
  display: flex;
  justify-content: flex-end;

  .buton {
    margin-bottom: 0px;
    @media screen and (min-width: 540px) {
      display: none;
    }
    .Layer {
      width: 32px; 
      height: 32px; 
    }
  }
}
.Navbar {
  padding: 30px 0px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;

  .Navbar-Menu {
    padding: 10px 0px;

    ul {
      margin-block-start: 0px;
      margin-block-end: 0px;
      @media screen and (min-width: 540px) {
        display: flex;
        justify-content: center;
        gap: 14px;
      }
    }
    ul li {
      padding: 8px;
      list-style: none;
      text-align: center;
      a {
        text-decoration: none;
        color: #1a1a1a;
      }
    }
  }
}
