.main-Footer {
  padding: 30px 0px;

  .Footer {
    .Footer-List {
      font-family: Inter;
      color: #1a1a1a;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      list-style: none;
      margin-inline-start: 0px;
      padding-inline-start: 0px;
      display: flex;
      gap: 14px;
      @media screen and (min-width: 540px) {
        align-items: flex-start;
      }
      @media screen and (max-width: 540px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
.notContainer {  
  width: 100%;

  padding: 0 32px;
  margin-right: 0px;  
  margin-left: 0px;
}
